<br>
<br>
<div class="container">
  <h3>{{title}}</h3>
  <br>
  <img src="./favicon.ico"/>
  <br>
  <br>
  <p>This app displays some information about the New York City Subway system in
  order to demonstrate some properties of <span id="angular">Angular 2</span>, a front-end web framework
  developed by Google.</p>
  <br>
  <p>*</p>
  <br>
  <p>Angular 2 was developed to display data client-side, via two-way binding, in a way that minimizes server calls. This reduces web traffic and improves user experience.</p>
  <br>
  <p>*</p>
  <br>
  <p>All information is pulled from the server at page load. Subsequent user navigation merely re-orders this information in the browser.</p>
  <br>
  <p>*</p>
  <br>
  <p>Learn more at the Angular2 <a href="https://angular.io/" target="new"><i>website</i></a>.</p>
</div>
